.mainBlock {
  text-align: center;
  margin-top: 20px;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vh;
    position: relative;
    height: 300px;

    div {
      width: fit-content;
    }

    .bottomBlocks {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    svg {
      position: absolute;
      top: 20%;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
}
